
#circle, .user-posts {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  width: 200px !important;
  height: 200px !important;
}

#circle2 {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  width: 300px !important;
  height: 300px !important;
}

#circle:hover {
  transform: scale(1.1);
}

#divColumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#topUserSegment {
  margin-top: 20px;
}

#nav {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Major Mono Display', monospace !important;
}

.city-spot {
  color: white !important;
}

.segmentHeader {
  color: white !important;
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  font-family: 'Major Mono Display', monospace !important;
}

.ui.header.heading {
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  text-align: center;
  font-size: 150px;
  font-family: 'Major Mono Display', monospace;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

.ui.header.heading2 {
  color: white !important;
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  text-align: center;
  font-size: 20px;
  font-family: 'Major Mono Display', monospace;

}

.ui.header.section {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.ui.grid>.row>.column {
  display: flex;
  justify-content: center;
}

.section {
  height: 760px;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('https://www.whitecase.com/sites/whitecase/files/London_UnitedKingdom_Tablet_1920x960.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#cityHeader{
  font-size: 60px;
}

#feed{
  height: 450px;
  overflow: scroll;
}

.ui.circular.segment {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5));
}

.ui.active.embed>.placeholder {
  display: flex;
}

form#homeForm {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
div.search.selection {
  margin: auto;
}

// .button {
//     margin: auto;
//     width: 20%;
//     padding: 3%;
// }

.input-center {
  display: flex;
  align-self: center;
}

#delete-button{
  height: 10px;
}

#cities-show{
  width: 85%;
}


.loader:empty {
    background-size: contain;
    position: absolute;
    top: calc(50% - 15em);
    left: calc(50% - 10em);
    width: 20em;
    height: 20em;
    border: 1.5em solid orange;
    border-left: 1.5em solid dodgerblue;
    border-radius: 80%;
    border-right: 1.5em solid dodgerblue;
    animation: load8 3s infinite linear;
  }

  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.user-posts2 {
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  justify-content: center;
}
