
#circle2 {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 2px 5px rgba(0,0,0,1);
  width: 300px !important;
  height: 300px !important;
}

 #circle, .user-posts {
  margin-bottom: 10px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  width: 200px !important;
  height: 200px !important;
}

#circle3 {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px !important;
  height: 130px !important;
  border-radius: 100%;
  background-color: #1b1c1d;;
}
//
// #circle2 {
//   margin-bottom: 10px;
//   margin-top: 10px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-shadow: 0 2px 5px rgba(0,0,0,0.8);
//   width: 300px !important;
//   height: 300px !important;
// }

#circle3:hover {
  transform: scale(1.1);
}

#divColumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#topUserSegment {
  margin-top: 20px;
}

#nav {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Major Mono Display', monospace !important;
}

#square {
  width: 485px;
  margin-top: 20px;
}
.city-spot {
  color: white !important;
}

.segmentHeader {
  color: white !important;
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  font-family: 'Major Mono Display', monospace !important;
  font-size: 15px !important;
}

.ui.header.heading {
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  text-align: center;
  font-size: 60px;
  font-family: 'Major Mono Display', monospace;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

.ui.header.heading2 {
  color: white !important;
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  text-align: center;
  font-size: 20px;
  font-family: 'Major Mono Display', monospace;

}

.user-container {
  height: 250px;
  width: 650px !important;
  border: 0.5px solid #D3D3D3;
  margin: 2px;
}

.user-container3 {
  width: 650px !important;
  border: 0.5px solid #D3D3D3;
  margin: 2px;
}

.user-padding {
  margin: 5px !important;
}

.user-background {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url('https://www.whitecase.com/sites/whitecase/files/London_UnitedKingdom_Tablet_1920x960.jpg');
}

.ui.container.user-container {
  padding: 20px;
  background-color: white;
}

.user-main {
  padding-bottom: 40px;
}

.ui.medium.image {
  width: 300px;
  height: 166px;
}

.header-container {
  justify-content: center;
  display: flex !important;
}

.ui.header.heading3 {
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  text-align: center;
  font-size: 70px;
  font-family: 'Major Mono Display', monospace;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}



.ui.header.section {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.ui.grid>.row>.column {
  display: flex;
  justify-content: center;
}

.background {
  height: 92vh;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('https://www.whitecase.com/sites/whitecase/files/London_UnitedKingdom_Tablet_1920x960.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
//
// .ui.container {
//   justify-content: center;
//   display: flex;
// }

// styles for CitiesInfo page ---------------------

#infoHeaderEvent {
  height: 760px;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('http://thenextweb.com/wp-content/blogs.dir/1/files/2013/11/concert-audience.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#infoHeaderEat {
  height: 760px;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('https://thimpress.com/wp-content/uploads/2018/04/41993-das-loft-sofitel-19to1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#infoSubheader {
  font-size: 15px;
  font-family: 'Major Mono Display', monospace;
}

#infoSubheading {
  font-size: 45px;
  font-family: 'Major Mono Display', monospace;
}

.ui.header.eventsRestHeading {
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  font-size: 20px;
}
//----------------------------------------------

// ContinentsShow page styles
#continentsHeader {
  height: 760px;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('https://www.worldmapsonline.com/images/murals/satellite_image/detailed_world_satellite_image_mural_cen_150_lg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.header.headingContinentCity {
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  text-align: center;
  font-size: 60px;
  font-family: 'Major Mono Display', monospace;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  color:#FFFFFF;
}

//-------------------------------------------

// CitiesIndex page styles

#citiesHeader {
  height: 760px;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('https://media.timeout.com/images/105135008/image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}



//----------------------------------------------

div.row.section2{
  justify-content: center !important;
  display: flex;
  // margin-top: 140px;
}

#cityHeader{
  font-size: 60px;
  font-family: 'Major Mono Display', monospace;
}

#feed{
  height: 450px;
  overflow: scroll;
}

.ui.circular.segment {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5));
}

.ui.active.embed>.placeholder {
  display: flex;
}

form#homeForm {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
div.search.selection {
  margin: auto;
}

.button.is-rounded {
  height: 60px;
}

.input-center {
  display: flex;
  align-self: center;
}

#delete-button{
  height: 10px;
}

#cities-show{
  width: 85%;
}

.ui.form .field>.selection.dropdown {
  width: 40%;
}

.loader:empty {
    background-size: contain;
    position: absolute;
    top: calc(50% - 15em);
    left: calc(50% - 10em);
    width: 20em;
    height: 20em;
    border: 1.5em solid orange;
    border-left: 1.5em solid dodgerblue;
    border-radius: 80%;
    border-right: 1.5em solid dodgerblue;
    animation: load8 3s infinite linear;
  }

  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.center-posts {
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  justify-content: center;
}

.ui.four.column.grid {
  display: flex;
  justify-content: space-around;
}

.center-image {
  justify-content: center;
  display: flex !important;
}

.center-form {
  text-align: center;
}

.header-modal {
  padding: 40px;
  justify-content: center;
  display: flex;
}




#cities-index{
    width: 80%;
    margin: auto;
}







// LOADER
// ------------------------------------------------------------------------------------------------------
#earth {
position: relative;
width: 300px;
height: 300px;
margin: 3em auto;
background: #888 url(https://lh5.googleusercontent.com/-kkxEx-SkRaY/VBLF4BV2lZI/AAAAAAAAKao/FnKsv7402_c/s0/earthmap.jpg) 0 0 repeat;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
background-size: 630px;
animation: rotate 4s linear infinite;
-webkit-animation: rotate 4s linear infinite;
-moz-animation: rotate 4s linear infinite;
-ms-animation: rotate 4s linear infinite;
-o-animation: rotate 4s linear infinite;
-webkit-transition: -webkit-transform 200ms linear;
-webkit-transform-style: preserve-3d;
-moz-transition: -moz-transform 200ms linear;
-moz-transform-style: preserve-3d;
transition: transform 200ms linear;
transform-style: preserve-3d;
box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
-moz-box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
-webkit-box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
color: #000;
margin-top: 120px;
}

#earth:before {
content: "";
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
-moz-box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
-webkit-box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
z-index: 2;
}

#earth:after {
content: "";
position: absolute;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0.2;
background: radial-gradient(circle at 100px 100px, #fff, #000);
}



@keyframes rotate {
0% {background-position: 0 0;}
100% {background-position: 630px 0;}
}


@-moz-keyframes rotate {
0% {background-position: 0 0;}
100% {background-position: 630px 0;}
}


@-webkit-keyframes rotate {
0% {background-position: 0 0;}
100% {background-position: 630px 0;}
}


@-ms-keyframes rotate {
0% {background-position: 0 0;}
100% {background-position: 630px 0;}
}


@-o-keyframes rotate {
0% {background-position: 0 0;}
100% {background-position: 630px 0;}
}

#circle4 {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  width: 200px !important;
  height: 200px !important;
}

.homepage-margin {
  margin-top: 95px;
}

.city-image {
  justify-content: center;
  display: flex;
}
